[submodule "src/UNIR.TFE.Polyrepo.Addition.Module"]
	path = src/UNIR.TFE.Polyrepo.Addition.Module
	url = https://github.com/ajunquit/unir-tfe-addition
	branch = main
[submodule "src/UNIR.TFE.Polyrepo.Subtraction.Module"]
	path = src/UNIR.TFE.Polyrepo.Subtraction.Module
	url = https://github.com/ajunquit/unir-tfe-subtraction
	branch = main
[submodule "src/UNIR.TFE.Polyrepo.Multiplication.Module"]
	path = src/UNIR.TFE.Polyrepo.Multiplication.Module
	url = https://github.com/ajunquit/unir-tfe-multiplication
	branch = main
[submodule "src/UNIR.TFE.Polyrepo.Division.Module"]
	path = src/UNIR.TFE.Polyrepo.Division.Module
	url = https://github.com/ajunquit/unir-tfe-division
	branch = main
